$primary-color:#003423;
$primary-outline-color:#011C26;
$primary-words-color:#ffffff;
$secondary-color:#4aa688;
$background-color:#000000;
$border-color:#dddddd;
$gutter-color:#373737;
$faded-text-color:#999999;
$log-icon-color:#636363;
$log-icon-text-color:#ffffff;
$text-color:#dcdcdc;