$darker-background:#222;
$dark-background:#444;
$light-border: #43967b;
$dark-border: #6b6b6b;
$text-on-dark: #ccc;

.log-box, 
.profile-box,
ul.dropdown-menu,
.nav > li > a:hover, 
.nav > li > a:focus,
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus 
.nav .open > a,
.ember-power-select-search,
.table-striped > tbody > tr:nth-of-type(odd),
button {
 background-color: $darker-background;
}

.dropdown-menu > li > a {
  color: $text-on-dark;
  background-color: $darker-background;
}

.ember-basic-dropdown-trigger,
.ember-power-select-option,
.ember-power-select-dropdown.ember-basic-dropdown-content {
  background-color: $darker-background;
  color: $text-on-dark;
  border-color: $dark-border;
}

.ember-power-select-option[aria-current="true"],
.ember-power-select-option[aria-selected="true"] {
  color: $darker-background;
}

.dropdown-divider {
  border-top: 1px solid $light-border;
}

.markdown-editor,
.fs3-divider {
  background-color: $dark-background;
}

.btn-default {
  background-color: $darker-background;
  border-color: $darker-background;
  color: $text-on-dark;
}

textarea, input {
  background-color: $darker-background;
  border: 1px solid $dark-border;
}

.alert-info {
  background-color: mix(black, #0dcaf0, 80%);
  border-color: mix(black, #0dcaf0, 80%);
  color: $text-on-dark;
}

.alert-success {
  background-color: mix(black, #198754, 80%);
  border-color: mix(black, #198754, 80%);
  color: $text-on-dark;
}

.alert-warning {
  background-color: mix(black, #ffc107, 80%);
  border-color: mix(black, #ffc107, 80%);
  color: $text-on-dark;
}

.alert-danger {
  background-color: mix(black, #dc3545, 80%);
  border-color: mix(black, #dc3545, 80%);
  color: $text-on-dark;
}


.btn-info {
  background-color: mix(black, #0dcaf0, 60%);
  border-color: $light-border;
  color: $text-on-dark;
}

.btn-success {
  background-color: mix(black, #198754, 60%);
  border-color: $light-border;
  color: $text-on-dark;
}

.btn-warning {
  background-color: mix(black, #ffc107, 60%);
  border-color: $light-border;
  color: $text-on-dark;
}

.btn-danger {
  background-color: mix(black, #dc3545, 60%);
  border-color: $light-border;
  color: $text-on-dark;
}

.btn-secondary {
  background-color: mix(black, #6c757d, 60%);  
  border-color: $light-border;
  color: $text-on-dark;
}

.btn-primary {
  border-color: $light-border;
}


.panel-default > .panel-heading {
  background-color: $darker-background;
  border-color: $darker-background;
  color: $text-on-dark;
}

.nav-tabs,
.nav-tabs>li>a, 
.nav-tabs > li.active > a {
  border-color: $dark-border;
  
}

.nav-tabs>li>a:hover, 
.nav-tabs>li>a:focus,
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus { 
  border-color: $dark-border;
  background-color: #ccc;
  color: #fff;
}


blockquote {
  background-color: $dark-background;
}

code {
  color: #3C866E;
}

pre code {
color: #3C866E;
width: 70%;
}

.toc, .log-box, .profile-box {
  background-color: $dark-background;
}

.profile-divider {
  background-color: #000000;
}